@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Outfit', Arial, Helvetica, sans-serif;
  --font-mono: 'Ovo', serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Fonts */
.font-Ovo {
  font-family: Ovo, serif;
}

*{
  font-family: Outfit, sans-serif;
}

/* Hover */
.lightHover{
  color: #fcf4ff,}
.darkHover{
  color:#2a004a ;
}
.darkTheme{
  color:#11001F ;
} 

